.cookie {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-left: 5px;
    line-height: 35px;
    color: #666;
    font-size: 0.9em;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    z-index: 9999;
    display: block;
    width: 100%;
}

.cookie a {
    text-decoration: underline;
}
.cookie a:hover {
    text-decoration: none;
}

.cookie_btn {
    display: inline;
    margin-left: 15px;
    padding: 4px 10px;
    color: #FFF;
    background-color: #55acf4;
    border-radius: 3px;
    cursor: pointer;
}

.cookie_btn:hover {
    background-color: #4892CF;
}

.cookie_btn-refuse {
    background-color: #e84e40;
}

.cookie_btn-refuse:hover {
    background-color: #C34F44;
}
